@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');




/* დარქმოუდი */

.dark{
    bottom: 20px; 
    right: 20px; 
    position: fixed;  
    width: 75px;  
    text-decoration: none;
    border: none;
    background-color: transparent;
    }
    
    .dark img{
    width: 70px;
    height: 70px;
    }
    
    .dark-mode {
    background-color: rgba(0, 0, 0, 0.865);
    color: white;
    }


/* ჰედერი */


body{
overflow-x: hidden;
}



/* ლოგო */
.logo{
  position: absolute;
  margin-left: 20px; 
  top: 0.7%;
  }
  
  /* იუზერი */
  .user{
  position: absolute;
  left: 95%;
  top: 1.4%;
  }
  
  /* ადსახელება */
  .got{
    font-family: 'Staatliches', cursive;
  position: absolute;
  margin-left: 100px;
  top: 1.2%;
  
  }


/* ენის შეცვლა */
.nav2{
padding-right: 50px;
padding-top: 10px;
    }
    
  
  /* ჰედერის ზოლი */
  .line {
    position: absolute;
    border-bottom: 2px solid #00563B;
    width: 100%;
    top: 75px;
    opacity: 6%;
    left: 0;
}

.line2 {
  position: absolute;
  border-bottom: 2px solid #00563B;
  width: 100%;
  top: 130px;
  opacity: 6%;
  left: 0;
}


/* ნავბარი */

.nav ul li {
display: inline-flex;
}

.nav{
border-top: 2px solid #00563b3c;
border-bottom: 2px solid #00563b3c;
width: 100%;
margin-top: 75px;
font-size: larger;
height: 60px;
display: flex;
justify-content: space-between;
}

.nav ul li a {
text-decoration: none;
font-family: 'Josefin Sans', sans-serif;
color:  #00563B;
padding-right: 85px;
}



  h1 span {
font-size: 40px;
margin-left: 40px;
  }
  
  .message {
    background-color:  #00563B;
    color: rgb(0, 0, 0);
    display: block;
    font-weight: 800;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 30px;
    animation: openclose 20s ease-in-out infinite;
  }
  
  .word1 {
    font-family: sans-serif;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }

/* დროპდაუნი */

.dropbtn {
  z-index: 3;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #ffffff00;
  color:  #00563B;
  padding: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 5px;
  display: none;
  position: absolute;
  background-color: #00563B;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  color: white;
}

.dropdown-content a {
  z-index: 3;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}


/* სერჩბარი */

.searchform {
    position: relative;
display: flex;
justify-content: center;
margin-top: -155px;
display: flex;
z-index: 3;
}


.in1{
width: 800px;
height: 50px;
border: #00563B;
} 

.but1{
  border: #00563B 1px solid;;
  background-color: #083500;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}


/* ფოტო */


    
    .main-picture img{ 
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: 1;
    }
    
    
    .main-picture1 img{
    position: relative; 
    float: right;
    margin-top: -250px;
    z-index: 2;
    height: 250px;
    margin-right: 90px;
    }



/* დღის შეთავაზება */

.first{
    font-family: 'Staatliches', cursive;
    margin-top: 150px;
    text-align: center;
    }
    
    
    .dayoffer{
    display: flex;
    justify-content: space-evenly;
    
    }
    
    .offersimg{
    width: 100%;
    }
    
    
    .offers{
    display: flex;
    justify-content: center;
    }
    
    
    .flex-item  a{
      text-decoration: none;
      font-family: 'Staatliches', cursive;
      font-size: 20px;
      color: #00563B;
    }
    
    .flex-item {
      max-width: 600px;
      text-align:center;
      font-size: 2.5em;
      padding: 1.5em;
    }
    
    .offersf{
    display: flex;
    justify-content: space-around;
    }
    
    .offersf a{
    display: flex;
    justify-content: space-between;
    
    }
    
    
    
    .flex-item img{
      transition: 0.5s ease-in;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
      }
    
    .flex-item img:hover{
    transform: scale(1.05);
    }
    
    
    
/* ქარდები */

.fav{
    font-family: 'Staatliches', cursive;
   display: flex;
  justify-content: center;  
  margin-top: 100px;
  }

.allcard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

  .card {
    top: 50px;
    margin: 38px;
    width: 24rem;
    height: 36rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: 'Staatliches', cursive;
  }
  
  
    .card-img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
      transition: opacity .2s ease-out;
    }
  
    .card-h2 {
      position: absolute;
      inset: auto auto 30px 30px;
      margin: 0;
      transition: inset .3s .3s ease-out;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: normal;
      text-transform: uppercase;
    }
    
    .card-p, .button {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: large;
      color: #ffffff;
      position: absolute;
      opacity: 0;
      padding-bottom: 60px ;
      max-width: 80%;
      transition: opacity .3s ease-out;
     
      
    }
    
    .card-p {
      inset: auto auto 80px 30px;
    
    }
    
     .button {
      padding-left: 255px;
      padding-bottom: 1px;
      inset: auto auto 40px 30px;
      color: inherit;
      text-decoration: none;
    }
  
     .card-p:hover,  .button:hover {
      opacity: 1;
      transition: opacity .5s .1s ease-in;
    }
  
    
     .card-img:hover {
      transition: opacity .3s ease-in;
      opacity: 1;
    }
  
  .material-symbols-outlined {
    vertical-align: middle;
  }
  
    
/* სლაიდერი ფოტო გალერია */

.sld{
font-family: 'Staatliches', cursive;
display: flex;
justify-content: center; 
margin-top: 200px; 
  }
  
  .slider {
    margin-top: 60px;
    display: flex;
    height: 350px;
    max-height: auto;
    overflow-y: hidden;
    overflow-x: scroll !important;
    padding: 16px;
    transform: scroll(calc(var(--i,0)/var(--n)*-100%));
    scroll-behavior: smooth;
  }
  .slider::-webkit-scrollbar {
    height: 5px;
    width: 150px;
    display: none;
  }
  .slider::-webkit-scrollbar-track {
    background: transparent;
  }
  .slider::-webkit-scrollbar-thumb {
    background: #888;
  }
  .slider::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .slider img:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
  }
  .slide {
  
    position: relative;
  }
  .slide img {
    height: 100%;
    width: 250px;
    margin: 0 10px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: .25s ease-in-out;
  }
  .control-prev-btn {
    transform: translateY(100%);
    position: absolute;
    left: 0;
    background-color: rgba(255,255,255,0.55);
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    user-select: none;
    color: #444;
    cursor: pointer;
  }
  .control-next-btn {
    transform: translateY(100%);
    position: absolute;
    right: 0;
    background-color: rgba(255,255,255,0.55);
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    user-select: none;
    color: #444;
    cursor: pointer;
  }
  .slide img.zoomed{
     width: 500px;
     height: 600px;
     position: fixed;
     left: 25%;
     top: 0%;
     z-index: 1000;
     transform: scale(1) translatey(0) !important; 
   
  }
  .overlay{
     position: absolute;
     height: 100%;
     width: 100%;
     background: rgba(0,0,0,.45);
     top: 0;
     display: none;
  }
  .overlay.active{
   display: block;
  }
  @media only screen and (max-width: 420px) {
    .slider {
      padding: 0;
   }
    .slide {
      padding: 16px 10px;
   }
    .slide img {
      margin: 0;
   }
    .control-prev-btn {
     display: none;
   }
    .control-next-btn {
      display: none;
   }
  }
  





  #myImg {
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
   
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }


/* ავიახაზები */

.pavi{
    font-family: 'Staatliches', cursive;
   display: flex;
  justify-content: center;  
  margin-top: 240px;
  }
  
  
  .airlines{
  display: flex;
  justify-content: space-around;
  }
  

  .center {
    transform: scale(1.5);
    height: 400px;
    padding-top: 120px;
  }
  
  .article-card {
    max-width: 350px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
  }
  
  .article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .article-card .content {
    box-sizing: border-box;
    width: 100%;
    position: absolute; 
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  }
  
  .article-card .date,
  .article-card .title {
    margin: 0;
  }
  
  .article-card .date {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 4px;
  }
  
  .article-card .title {
    font-size: 17px;
    color: #fff;
  }
  
  a{
  text-decoration: none;
  color: #fff;
  }




/* ფუტერის თვითფრინავი */

/* .footer{
  position:absolute;
  margin-top: 100px;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:300px;
  max-height:300px;
  min-width:300px;
  color:#eee;
} */

/* .footer:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
} */

/* .footer:before{
  content:"";
  width:100%;
  height:400%;
  position:absolute;
  top:0;
  left:0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0); backface-visibility: hidden;
  transform: translateZ(0);
  background:#1B2030 url(https://images.unsplash.com/photo-1444313431167-e7921088a9d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1575&q=80) 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 30s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
  
} */


 /* ფუტერი */

 .footer{
  display: flex;
  justify-content: space-between;
  background-color: #00563B;
  margin-top: 200px;
  padding: 1em;
  }
  
  .p1 ul li{
  color: white;
  display: flex;
  }
  
  
  .p1 ul li a{
  text-decoration: none;
  color: white;
  }
  
  
  .p2 ul li{
    color: white;
    display: flex;
    }
    
    
    .p2 ul li a{
    text-decoration: none;
    color: white;
    }
    
    
  
  
    .p4 ul li{
      color: white;
      display: flex;
      padding-top: 5px;  
      }
      
      
      .p4 ul li a{
      text-decoration: none;
      color: white;
      }
      
    .p3{
    display: flex;
    }  
     
    .logon a{
    text-decoration: none;
    color: white;
    }
  
    .logom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -1050px;
    }
  



  
  
    
  




@media (max-width:500px) {
    .dropdown{display: none;}
    .nav{display: flex;
    justify-content: center;}
    .blog{display: none;} 
}

@media (max-width:800px) {
.df{display: none;}

}



@media (max-width:1500px) {
    .airlines{  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 250px;
        margin-left: 100px;
    }
    }